body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: inline-flex;
}

ul {
  display: inline-flex;
}

li {
  list-style: none;
  display: inline-flex;
  margin: 0% 10%
}

nav {
  display: inline-flex;
}

.jumbotron {
  position: absolute;
 height: 100vh;
 width: 100vw;

 margin-left: auto;
 margin-right: auto;

}



.card {
  display: block;
  width: 50%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
 
 
}
.event {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.flyer {
  display: block;
  width: 48vh;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
}
.buy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  margin-bottom: 5%;
}
.homepage {
  position: relative;
}

.homepage p{
  z-index: 100;
  position: absolute;
  color: rgb(200, 91, 91);
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
  border: 10px;
  border-color: black;
}

@media only screen and (max-width: 1000px) {
  .flyer {
    height: 40vh;
    width: 32vh;
  }
}
@media only screen and (max-width: 415px) {
  .flyer {
    height: 30vh;
    width: 24vh;
  }
}