body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: inline-flex;
}

ul {
  display: inline-flex;
}

li {
  list-style: none;
  display: inline-flex;
  margin: 0% 10%
}

nav {
  display: inline-flex;
}

.jumbotron {
 height: 100vh;
 width: 100vw;
 width: auto;

}



.card {
  display: block;
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
 
}
.event {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.flyer {
  display: block;
  width: 48vh;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
}
.buy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}